.skyhshoso-hosting-solution-settings-wrap .form-table th {
    padding: 20px 10px 20px 0;
    width: 200px;
}

.skyhshoso-hosting-solution-settings-wrap .form-table td {
    padding: 15px 10px;
}

.skyhshoso-hosting-solution-settings-wrap .description {
    margin-top: 8px;
    color: #666;
    font-style: italic;
}

.skyhshoso-hosting-solution-settings-heading {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
} 